<div ng-controller="FullDescriptionController" ng-cloak >
    <div flex-xs flex-gt-xs="70" layout="column" style="padding-left: 480px;">
        <md-card>
            <md-card-header>
                <md-card-avatar>
                     <img ng-src='images/user.jpeg' class="md-avatar" alt="{{clickedItem.createdBy}}">
                    <!--<md-icon class="md-avatar-icon" md-svg-icon="images/messsage-icon.svg"></md-icon>-->
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{clickedItem.createdBy}}</span>
                    <span class="md-subhead">{{clickedItem.when}}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{clickedItem.topic}}</span>
                    <span class="md-subhead">{{clickedItem.description}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content style="width:500px">

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <md-icon md-svg-src='images/mode-comment.svg' ng-click="comment()"></md-icon>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <md-icon md-svg-src='images/like.svg' ng-click="like()"></md-icon>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <md-icon md-svg-src='images/dislike.svg' ng-click="disLike()"></md-icon>
                    <br>
                    <br>
                    <!-- end of user messages -->

                    <ul class="messages" ng-show="commentFlag" id="commentcontain" ng-repeat="item in clickedItem.comments">
                        <img src="images/user.jpeg" style="height: 20px;width: 20px;" class="avatar" alt="Avatar">
                        <h5 style="width:400px;">{{item.commentDescription}}</h5>
                        <br>
                    </ul>
                <md-input-container md-no-float class="md-block" ng-show="commentFlag" ng-style="{'padding-left':'40px'}">
                    <input ng-model="pushComment" placeholder="Comment">
                    <md-icon md-svg-src='images/send.svg' ng-click="send()"></md-icon>
                </md-input-container>
                    <!-- end of user messages -->

            </md-card-content>
        </md-card>
    </div>
</div>
